<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Server Configuration -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_CaPService" sendTimeout="00:05:00" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="RmkTwoCaPService.CaPService">
        <endpoint

          address="http://localhost:8899/RmkTwoCaPService"

          binding="basicHttpBinding"
          
          bindingConfiguration="BasicHttpBinding_CaPService"

          contract="RmkTwoCaPService.IBasicHttpBinding_CaPService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>